.card {
  margin: 20px;
  padding: 10px 5px;
  width: 90%;
  background: rgb(166, 21, 53);
  background: linear-gradient(
    324deg,
    rgba(166, 21, 53, 1) 0%,
    rgba(121, 9, 49, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card--image {
  width: 75%;
}

/* img {
  width: 100%;
  height: 550px;
} */

.card--title {
  font-size: 3rem !important;
  color: white;
  text-transform: uppercase;
}

.card--des {
  color: white;
  font-size: 2rem;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  line-height: 5px;
}
